version: '3.8'

networks:
  ai_suite_network:
    name: ai_suite_network
    driver: bridge

volumes:
  ollama_reranker_data:

services:
  ollama-reranker:
    image: node:20-alpine
    container_name: ollama-reranker
    working_dir: /app
    volumes:
      - ollama_reranker_data:/app
    command: >
      sh -c ' \
        if [ ! -d ollama-rerank-adapter/node_modules ]; then \
          echo "apk add git ca-certificates..."; \
          apk add --no-cache git ca-certificates; \
          echo "Cloning repo..."; \
          git clone https://github.com/ericli1018/ollama-rerank-adapter.git; \
          cd ollama-rerank-adapter; \
          echo "Installing dependencies..."; \
          npm install; \
        else \
          echo "Dependencies already installed, skipping npm install.";\
          cd ollama-rerank-adapter; \
        fi; \
        echo "Starting application..."; \
        npm start'
    restart: unless-stopped
    environment:
      PORT: 11433
      OLLAMA_BASE_URL: "http://ollama:11434"
      OLLAMA_MODEL: "dengcao/Qwen3-Reranker-8B:Q5_K_M"
    ports:
      - "11433:11433"
    networks:
      - ai_suite_network
